<div class="modal fade2 fade" id="statsModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="statsModalLabel"
  aria-hidden="true">
  <section class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="statsModalLabel"></h5>
        <button type="button " class="btn-close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        </button>
      </div>
      <article class="modal-body">
      </article>
    </div>
  </section>
</div>
